@model IEnumerable<BlaBlaRunProject.Domain.Concrete.WorkoutsOld>

@{
    ViewBag.Title = "Entrenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entrenos</h2>

<div class="table-responsive">
    <table id="table" class="compact nowrap" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AVGPace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Circular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @item.StartDateTime.ToString("yyyy/MM/dd HH:mm:ss")
                    </td>
                    <td>
                        <a href='@Url.Action("Register", "Account")'> @*style="text-align:center; display:block;" >*@
                            <img src='@Url.Content("~/Content/Images/OSMImage.png")' />
                        </a>                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AVGPace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Circular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Contactar", "Register", "Account")
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AVGPace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Circular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th></th>
            </tr>
        </tfoot>

    </table>
</div>

@section scripts
{

    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/jquery.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/jquery.dataTables.css">


    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/InitializeDataTables.js"></script>

}
